body {
    background-color: black;
}

.box {
    display: flex;
    flex: none;
    width: 10px;
    height: 10px;
    border: 2px solid white;
}

.boxToggle {
    display: flex;
    flex: none;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background-color: white;
}

.row {
    display: flex;
    flex-direction: row;
    flex: none;
}
